@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
.button {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: 4px;
  padding: 12px 24px;
  text-decoration: none;
}
.button:hover {
  cursor: pointer;
}
.button--success {
  background-color: #bed54a;
}
.button--info {
  padding: 0 8px;
  background-color: #94e7ff;
}
.button--wrong {
  padding: 0 8px;
  background-color: #ffac94;
}

.input {
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.input-container label {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 4px;
}
.input-container input {
  border: none;
  padding: 8px;
}
.input-container input:hover, .input-container input:focus {
  outline: none;
}

.card {
  display: grid;
  background-color: white;
}
.card__image {
  width: 100%;
  border-bottom: 1px solid #ebebeb;
}
.card-body {
  padding: 8px;
  text-align: center;
}
.card-body__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.card-body__text {
  font-size: 1rem;
  text-align: left;
}
.card-footer {
  padding: 1rem;
  place-self: center;
  align-self: end;
}

.icon {
  width: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5e1ce;
  padding: 8px 10rem;
}
.navbar__brand {
  font-size: 1.5rem;
  text-decoration: none;
  color: #444 !important;
}
.navbar__navigation {
  list-style: none;
  position: fixed;
  right: 0;
}
.navbar__link {
  text-decoration: none;
}
.navbar__counter {
  position: relative;
  color: white;
  font-weight: bold;
  background-color: rgb(255, 136, 0);
  padding: 2px 6px;
  border-radius: 100%;
  right: 12px;
  font-size: 10px;
  visibility: hidden;
}

.grid-container {
  display: grid;
  justify-content: space-around;
  padding: 2rem;
  grid-template-columns: 2fr 6fr;
  gap: 1rem;
  background-color: #ececec;
  height: 100%;
}

.search-container {
  display: grid;
  padding: 2rem 0;
  width: 100%;
}
.search-container input {
  width: 50%;
  padding: 12px;
  font-size: 1rem;
  place-self: center;
}

.checkout-header {
  text-align: center;
  padding-top: 2rem;
}

.checkout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  gap: 1rem;
}
.checkout h3 {
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.checkout__cart {
  background-color: white;
  padding: 1rem;
}
.checkout__data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.checkout__payment {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.checkout__payment .totals {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.shipping {
  display: flex;
  justify-content: space-around;
}

.filter {
  justify-self: center;
}
.filter__section {
  margin-bottom: 2rem;
}
.filter__subtitle {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.filter__categories {
  list-style: none;
}
.filter__categories-button {
  padding: 4px 0;
  margin: 4px 0;
}
.filter__categories-button:hover {
  cursor: pointer;
  font-weight: bold;
}
.filter__input {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.filter__input input {
  grid-column: 1/4;
  grid-row: 1;
}
.filter__input__min {
  place-self: start;
}
.filter__input__current {
  place-self: center;
}
.filter__input__max {
  place-self: end;
}

.products-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.cart {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  padding: 1rem;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
}
.cart.open {
  transform: translateX(0);
  transition: 1s;
}
.cart.close {
  transform: translateX(1000px);
  transition: 1s;
}
.cart__header {
  display: flex;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.cart__button {
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 1rem;
}
.cart__footer {
  display: flex;
  place-content: center;
  margin-bottom: 2rem;
}
.cart__footer__total {
  font-size: 1.5rem;
  padding: 0 2rem;
}
.cart__footer #btnRemoveAll {
  margin-left: 1rem;
}
.cart__subtitle {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.cart-card {
  display: grid;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  grid-template-columns: 2fr 6fr 2fr 2fr 1fr;
  align-items: center;
}
.cart-card__img {
  width: 5rem;
}
.cart-card__quantity, .cart-card__price {
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.no-show {
  display: none;
}

.show {
  display: block;
}

.toastify {
  font-size: 1rem !important;
  color: black !important;
  max-width: 300px !important;
  display: flex !important;
}
.toastify--success {
  background: #bed54a !important;
}
.toastify--error {
  background: #ffac94 !important;
}

.toastify-avatar {
  margin: 0 !important;
  width: 80px !important;
  height: 80px !important;
  margin-right: 12px !important;
}

/*# sourceMappingURL=app.css.map */
