@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

@import "./utilities/variables";
@import "./utilities/mixins";
@import "./utilities/functions";

@import "./components/buttons";
@import "./components/inputs";
@import "./components/cards";
@import "./components/images";

@import "./layout/nav";
@import "./layout/grid";

*{
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.no-show{
  display: none;
}

.show{
  display: block;
}

.toastify{
  font-size: 1rem !important;
  color: black !important;
  max-width: 300px !important;
  display: flex !important;

  &--success{
    background: $success !important;
  }

  &--error{
    background: $error !important;
  }
}

.toastify-avatar{
  margin: 0 !important;
  width: 80px !important;
  height: 80px !important;
  margin-right: 12px !important;
}