@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.no-show{
  display: none;
}

.show{
  display: block;
}

@import "./utilities/variables";
@import "./utilities/mixins";
@import "./utilities/functions";

@import "./components/buttons";
@import "./components/inputs";
@import "./components/cards";
@import "./components/images";

@import "./layout/nav";
@import "./layout/grid";