.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $other;
  padding: 8px 10rem; 

  &__brand{
    font-size: 1.5rem;
    text-decoration: none;
    color: #444 !important; 
  }

  &__navigation{
    list-style: none;
  }

  &__link{
    text-decoration: none;

  }

  &__counter{
    position: relative;
    color: white;
    font-weight: bold;
    background-color: rgb(255, 136, 0);
    padding: 2px 6px;
    border-radius: 100%;
    right: 12px;
    font-size: 10px;
    visibility: hidden;
  }

}