.navbar{
  background-color: $other;
  padding: 8px; 

  &-brand{
    color: #444 !important; 
  }

  &-toggler{
    border: none;

    &:focus{
      outline: none;
      box-shadow: none;
    }
  }

  &-collapse{
    justify-content: end;
  }

  &-search{
    width: 500px;
    &__input{
      width: 100%;
    }
  }

}

.nav-list{
  background-color: $other;
  padding: 4px;
  border-bottom: 2px solid white;

  &__navigation{
    display: flex;
    justify-content: center;
    list-style: none;
  }

  &__item{
    padding: 0 12px;
  }

  &__link{
    text-decoration: none;
    color: #444;
  }
}