.button{
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: 4px;
  padding: 12px 24px;
  text-decoration: none;

  &:hover{
    cursor: pointer;
  }

  &--success{
    background-color: $success;
  }

  &--info{
    padding: 0 8px;
    background-color: $info;
  }

  &--wrong{
    padding: 0 8px;
    background-color: $error;
  }
}